@charset "UTF-8";
 body { background: #eef1f5; }
    .layout { display: flex; margin-top: 30px; padding: 20px; }
    .sidebar { width: 220px; background: white; border-radius: 12px; box-shadow: 0 3px 8px rgba(0,0,0,0.1); padding: 15px; }
    .nav-link { padding: 12px; margin-bottom: 6px; border-radius: 8px; cursor: pointer; }
    .nav-link.active { background: #0d6efd; color: white; }
    .content-box { flex-grow: 1; margin-left: 30px; padding: 25px; border-radius: 12px; background: white; box-shadow: 0 3px 10px rgba(0,0,0,0.08); }
    #mensaje-global {
        display: none;
        margin-bottom: 20px;
    }