:root {
	--rojo-principal: #B9030F;
	--rojo-secundario: #9E0004;
	--rojo-oscuro: #70160E;
	--negro: #161917;
	--blanco-suave: #E1E3DB;
}

/* Cards */
.card-dashboard {
	border-radius: 14px;
	background-color: var(--blanco-suave);
	border: none;
	transition: transform 0.25s ease, box-shadow 0.25s ease;
	animation: fadeUp 0.6s ease forwards;
}

.card-dashboard:hover {
	transform: translateY(-6px);
	box-shadow: 0 10px 25px rgba(22, 25, 23, 0.25);
}

.card-title-dashboard {
	font-size: 18px;
	font-weight: 600;
	color: var(--negro);
}

.card-subtitle-dashboard {
	font-size: 14px;
	color: #444;
}

.card-number-dashboard {
	font-size: 42px;
	font-weight: 700;
	line-height: 1;
}

/* Colores numéricos */
.text-videojuegos {
	color: var(--rojo-principal);
}

.text-amigos {
	color: var(--rojo-secundario);
}

/* Card del gráfico */
.card-grafico {
	background-color: var(--blanco-suave);
	border-radius: 16px;
	height: 280px;
}

.card-grafico .card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-grafico canvas {
	max-height: 200px;
}

.text-saldo {
	color: #4CAF50;
}


@keyframes fadeUp {from { opacity:0;
	transform: translateY(20px);
}

to {
	opacity: 1;
	transform: translateY(0);
}
}

