@charset "UTF-8";
.center-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }
    thead th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #212529; /* color de Bootstrap table-dark */
        color: white;
    }
    